.site-template-image {
  border-radius: 100;
  margin: 8 16;
  width: 60;
  height: 60;
}

.item{
  margin: 15 15 0;
 // padding: 10;
}

.site-template-title {
  margin: 0 0 6 0;
  font-size: 18;
}

.site-template-description {
  font-size: 11;
}
.authorimg{
  border-radius: 50%;
}

.author{
  color: #0E41C8;
  font-size: 14;
}

.message{
  font-size: 18;
  color: #000000;
}
.date{
  font-size: 14;
  color: #525252;
}
