<StackLayout orientation="horizontal" class="item" (tap)="onNavigate()">
    <Image  class="authorimg"
            stretch="aspectFill"
            height="56"
            width="56"
            verticalAlignment="top"
            [src]="data.url"
            col="1"></Image>
    <StackLayout orientation="vertical" width="100%">
        <Label [text]='data.name' class="author"  ></Label>
        <Label [text]='data.message' class="message" textWrap="true" ></Label>
        <Label [text]='data.date' class="date"  ></Label>
    </StackLayout>
</StackLayout>
