<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed"
                      icon="res://menu"
                      (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu"
                android:visibility="collapsed"
                (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title"
           text="Мобильный дом"></Label>
</ActionBar>

<GridLayout class="page page-content" >
    <TabView tabBackgroundColor="#95a2eb" tabTextColor="white" selectedTabTextColor="white">
        <StackLayout *tabItem="{title: 'Новости',  iconSource: getIconSource('news')}">
            <hs-news></hs-news>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Камеры',  iconSource: getIconSource('camera')}">
            <hs-camers></hs-camers>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Сервисы',  iconSource: getIconSource('service')}">
            <hs-service></hs-service>
        </StackLayout>
    </TabView>
</GridLayout>
