<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Информация о УК"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-content" style="margin: 20; font-size: 16"
           textWrap="true"
           text="Управляющяя компания 'Рога и Копыта'"></Label>
</GridLayout>
