<StackLayout orientation="vertical"
             class="new-item"
             (tap)="onNavigate(item)">
    <Label *ngIf="item.title" class="title" [text]="item.title"></Label>
    <Label [maxLines]="item.maxLines" class="description" textWrap="true" [text]="item.text"></Label>
    <FlexboxLayout  orientation="horizontal" justifyContent="space-between" >
        <Label class="author" textWrap="false" [text]="item.author"></Label>
        <Label class="date" textWrap="false" [text]="item.date"></Label>
        <StackLayout orientation="horizontal" >
            <Image src="res://message"  width="20" height="20" marginRight="3"></Image>
            <Label [text]="item.seenCount"></Label>
        </StackLayout>
    </FlexboxLayout >
</StackLayout>
