.new-item {
  background-color: #fff;
  color: #4d4d4d;
  margin: 15 15 0;
  border-left-color: blue;
  border-left-width: 3;
  padding: 10;
}
.card-layout {
  padding: 20;
}
.card-layout .h1 {
  margin-bottom: 15;
}

.title{
  font-size: 15;
}

.description{
  font-size: 15;
}

.author{
  font-size: 15;
  font-weight: 500;
}

.date{
  font-size: 15;
}
