<ActionBar class="action-bar" >
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton  android.systemIcon="ic_menu_back" (tap)="goBack($event)"></NavigationButton>

    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->

    <Label class="action-bar-title" text="Видеонаблюдение"></Label>
</ActionBar>

<StackLayout style="horizontal-align: center">
    <VideoPlayer id="nativeVideoPlayer" controls="false"
                 fill="true"
                 height="300"
                 loop="true"
                 autoplay="true"
                 [src]="src"> </VideoPlayer>
    <ActivityIndicator *ngIf="showLoader"  color="blue" busy="true"  width="100" height="100" class="activity-indicator"></ActivityIndicator>
</StackLayout>
