<ActionBar class="action-bar" >
    <NavigationButton  android.systemIcon="ic_menu_back" (tap)="goBack($event)"></NavigationButton>
    <Label class="action-bar-title" text="Комментарии"></Label>
</ActionBar>
<StackLayout>
    <ListView height="90%" margin-bottom="50" padding="5" #list [items]="chats$ | async">
        <ng-template let-item="item">
            <hs-chat-item ></hs-chat-item>
        </ng-template>
    </ListView>

    <StackLayout #chatbox height="10%">
        <GridLayout columns="*,auto" style="padding: 10%">
            <TextField #textfield class="chatTextField" row="0" col="0" [(ngModel)]="message"></TextField>
            <Button #btn class="chatBtn" row="0" col="1" text="send" (tap)=chat(message)></Button>
        </GridLayout>
    </StackLayout>

</StackLayout>
