<ActionBar class="action-bar" >
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton  android.systemIcon="ic_menu_back" (tap)="goBack($event)"></NavigationButton>

    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->

    <Label class="action-bar-title" text="Комментарии"></Label>
</ActionBar>
<StackLayout orientation="vertical">
    <StackLayout  height="90%" >
        <hs-item-new [item]="itemNews"></hs-item-new>

        <StackLayout class="hr-light m-10"></StackLayout>
        <ListView
            #chatBox
            separatorColor="transparent"
            [items]="messages"
            (loaded)="scrollChatToBottom()"
            row="1">
            <ng-template  let-item="item" >
                <StackLayout style="margin: 10">
                    <hs-chat-item [data]="item"></hs-chat-item>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>

    <StackLayout #chatbox  verticalAlignment="bottom" height="10%">
        <GridLayout columns="*,auto" style="padding: 10%"  >
            <TextField #newMessage col="0" class="chatTextField" row="0" ></TextField>
            <Label
                    (tap)="sendMessage()"
                    col="1"
                    text="Отправить"
                    class="send-button"></Label>
        </GridLayout>
    </StackLayout>
</StackLayout>
