<ActionBar class="action-bar" >
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton  android.systemIcon="ic_menu_back" (tap)="goBack($event)"></NavigationButton>

    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->

    <Label class="action-bar-title" text="Комментарии"></Label>
</ActionBar>
<StackLayout>
    <hs-item-new [item]="item"></hs-item-new>
    <StackLayout class="hr-light m-10"></StackLayout>
    <hs-chat-item></hs-chat-item>
</StackLayout>
