<StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton>
    <Button class="btn btn-primary btn-outline"
            style="height: 300px"
            [id]="1"
            [text]="'Вызвать сантехника'"
            (tap)="onTap($event)"></Button>
    <Button class="btn btn-primary btn-outline"
            style="height: 300px"
            [id]="2"
            [text]="'Вызвать электрика'"
            (tap)="onTap($event)"></Button>
    <Button class="btn btn-primary btn-outline"
            style="height: 300px"
            id="button"
            [id]="3"
            [text]="'Вызвать плотника'"
            (tap)="onTap($event)"></Button>
    <Button class="btn btn-primary btn-outline"
            style="height: 300px"
            [id]="4"
            [text]="'Предложить запись'"
            (tap)="onTap($event)"></Button>
</StackLayout>
