<GridLayout class="news">
    <ScrollView class="page news">
        <StackLayout orientation="vertical">
            <StackLayout orientation="horizontal" class="item">
                <Image width="200"
                       loadMode="async"
                       stretch="aspectFill"
                       height="100"
                       margin="10"
                       src="http://94.180.247.6/jpgmulreq/1/image.jpg?key=1516975535684&lq=1&1555280697"></Image>
                <Label marginLeft="10" class="description" text="Заброшка" verticalAlignment="center"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="item">
                <Image width="200"
                       loadMode="async"
                       stretch="aspectFill"
                       height="100"
                       margin="10"
                       src="https://pp.userapi.com/c849128/v849128363/170b28/DfpfOKMKXeE.jpg"></Image>
                <Label class="description" marginLeft="10" text="Коридор" verticalAlignment="center"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
