<GridLayout>
    <ScrollView class="page">
        <StackLayout>
            <!-- On Android the card view plugin requires adding an external library
                therefore it can't be demoed on Playground. You will have to download this project
                and build it locally to try it on Android -->
            <CardView *ngFor="let item of data" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                <StackLayout class="card-layout">
                    <Image class="site-template-image thumb-with-background"
                           stretch="aspectFill"
                           [src]="item && item.getThumbnailUrl ? item.getThumbnailUrl() : null">
                    </Image>
                    <Label class="h2" [text]="item.heading"></Label>
                    <Label class="body" textWrap="true" [text]="item.content"></Label>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</GridLayout>
