<GridLayout class="news">
    <ScrollView class="page news">
        <StackLayout orientation="vertical">
            <StackLayout orientation="horizontal" class="item" (tap)="onOpenVideo(2)">
                <Image width="200"
                       loadMode="async"
                       stretch="aspectFill"
                       height="100"
                       margin="10"
                       src="https://pp.userapi.com/c850736/v850736596/109b9b/KstenKguRNM.jpg"></Image>
                <Label class="description" marginLeft="10" text="Улица" verticalAlignment="center"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal" class="item" (tap)="onOpenVideo(3)">
                <Image width="200"
                       loadMode="async"
                       stretch="aspectFill"
                       height="100"
                       margin="10"
                       src="https://pp.userapi.com/c850736/v850736596/109b3e/wKvji_04SsQ.jpg"></Image>
                <Label class="description" marginLeft="10" text="2 Подъезд" verticalAlignment="center"></Label>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
